body {
  width: 100%;
  margin: 0 auto;
  background: white;
  display: block;
}
.r-card1, .r-card2, .r-card3, .r-card4, .r-card5 {
  width: 169px;
  margin-right: 30px;
  position: relative;
  display: inline-block;
}
